// Blog
.blog{
	// Articolo in evidenza
	div.feat{
		position: relative;
		border-top: 2px solid @link;
	}
	span.feat{
		position: absolute;
        background-color: @link;
        color: white;
        top:0; right: 0;
        text-transform: uppercase;
        font-size: 13px;
        padding: 0px 6px;
	}
}

// Articoli singoli

// About

// Contatti